# Archivos basura de VisualParadigm

Docs/*.vpp.bak*
.env
backend/microservices/openapi-generator-cli-7.9.0.jar
/backend/microservices/products/.idea
backend/microservices/productsapi.json
/backend/microservices/products/target
/backend/microservices/products/target
